<form class="hotel-filters" [formGroup]="hotelFiltersForm" (ngSubmit)="onSubmit($event)">
  <div class="hotel-filters-container">
    <div class="hotel-filter-container">
      <label class="filters-label" for="">Estado <img class="mexico-icon" src="/assets/img/mexico.svg" alt="mexico icon"></label>
      <ng-select placeholder="Ejemplo: Yucatán" class="form-control form-control-sm p-0" formControlName="estado">
        <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
      </ng-select>
    </div>
    <div class="hotel-filter-container">
      <label class="filters-label" for="">Categoria <fa-icon [icon]="faIcons.faBriefcase"></fa-icon></label>
      <ng-select placeholder="Ejemplo: Automotríz" class="form-control form-control-sm p-0" formControlName="categoria">
        <ng-option *ngFor="let category of categoriesList" [value]="category.id_categoria">{{category.nombre_categoria}}</ng-option>
      </ng-select>
    </div>
    <div class="hotel-filter-container">
      <label class="filters-label" for="">Marca <fa-icon [icon]="faIcons.faTag"></fa-icon></label>
      <ng-select placeholder="Ejemplo: Las Ventanas al Paraíso" class="form-control form-control-sm p-0" formControlName="marca">
        <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
      </ng-select>
    </div>
  </div>
  <div class="button-search-container">
    <button class="btn btn-success rounded-pill px-3" type="submit">
      <fa-icon [icon]="faIcons.faMagnifyingGlass"></fa-icon>
    </button>
  </div>
</form>
